<!-- Header Start -->
<header class="site-header font-main">
    <div class="wrapper site-header__wrapper">
        <a href="#" class="brand">Content-Delivery Demo</a>
        <nav class="nav">
            <button class="nav__toggle" aria-expanded="false" type="button">
            menu
            </button>
            <ul class="nav__wrapper">
                <li class="nav__item">
                    <a href="/image" class="image-link">IMAGE</a>
                </li>
                <li class="nav__item">
                    <a href="/audio" class="audio-link">AUDIO</a>
                </li>
                <li class="nav__item">
                    <a href="/video" class="video-link">VIDEO</a>
                </li>
                <li class="nav__item">
                    <a href="/" class="home-link">UPLOAD</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
<!-- Header End -->