{{> _header}}

<main class="wdth100 hvw row justify-center gap-row-30 font-text pb-5">
    <div class="col-12-xs col-11-sm col-10-md col-10-lg text-center slideInRight">
        <h2 class="pt-3 font-xl text-blue font-main">Image Gallery</h2>
    </div>

    {{#if data.images}}
        <div class="col-12-xs col-11-sm col-10-md col-11-lg hvw row justify-center gap-col-20 gap-row-40 text-center slideInLeft">
            {{#each data.images}}
                <div class="col-12-xs col-5-sm col-3-md col-3-lg hvw40">
                    <img src={{source}} alt="File Image">
                </div>
            {{/each}}
        </div>
    {{else}}
        <div class="col-12-xs col-11-sm col-10-md col-10-lg text-center slideInLeft">
            <p class="font-md">No images to Display !!!</p>
        </div>
    {{/if}}
</main>

{{> _footer}}