<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=7">
    <title>{{title}}</title>
    <meta name="description" content="Cloud Cubic Content Delivery Demo">
    <meta name="keywords" content="Cloud Cubic, Content Delivery, NodeJS, Javascript">
    <meta name="author" content="Knightbuilt">
    <link rel="shortcut icon" href="" type="image/icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Babylonica&family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://library.halleppardwebsolutions.co.za/eppardicon1/eppard.min.css" integrity="sha256-2nQnDZdqu7hEH1IlFHdy0E3ZrdizKa3i0qbSu+zjp2k=" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/collapse.css">
    <link rel="stylesheet" href="https://library.halleppardwebsolutions.co.za/eppardcss1/eppard.min.css" integrity="sha256-9XgURVUvICiXggZgQjI8iC17s8Vm9EhHiHFCDRQSEKE=" crossorigin="anonymous">
    <link rel="stylesheet" href="https://library.halleppardwebsolutions.co.za/animation1/eppard.min.css" integrity="sha256-Zz15wGrP4ZNkx0qy5T1ky2YDqzf6pXLDLUm6/1EGM7g=" crossorigin="anonymous">
</head>
<body class="background wdth100">

  {{{body}}}
  




</body>
<script src="/js/header.js"></script>
<script src="/js/index.js"></script>
</html>