{{> _header}}

<main class="wdth100 hvw row justify-center gap-row-30 font-main">
    <div class="col-12-xs col-11-sm col-10-md col-10-lg text-center slideInRight">
        <h2 class="pt-3 font-xxxl text-red">Error</h2>
    </div>
    <div class="col-12-xs col-11-sm col-10-md col-10-lg text-center slideInRight">
        <i class="wordba text-red eppard-warning font-lg"></i>
        <p class="pt-3 font-md text-red font-main">{{error}}</p>
    </div>
</main>

{{> _footer}}